

.container-error{
    width: 100%;
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.container-error .title-erro{
    font-size: 22px;
    
}
.container-error a{
    padding: 6px 10px;
    background: rgb(45, 118, 214);
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
}
.container-error img{
    width: 100%;
}